body {
    background-color: bisque;
}

form {
    text-align: center;
    margin-top: 200px;
}

#date_label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 300;
    font-size: 30px;

}

#date_button {
    width: 350px;
    height: 100px;
    border: none;
    border-radius: 10px;
    font-size: 50px;
    background-color: darkblue;
    color: #ffffff;
    margin-top: 10px;
}

#result {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font: 300;
    font-size: 30 px;
}

input[type="date"]{
    margin-top: 10px;
    margin-bottom: 20px;
    appearance: none;
    box-sizing: border-box;
    border: 1px solid black;
    background: transparent;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 5px;
    ::-webkit-datetime-edit-text { padding: 0 2rem; }
    ::-webkit-datetime-edit-month-field { text-transform: uppercase; }
    ::-webkit-datetime-edit-day-field { text-transform: uppercase; }
    ::-webkit-datetime-edit-year-field { text-transform: uppercase; }
    ::-webkit-inner-spin-button { display: none; }
    ::-webkit-calendar-picker-indicator { background: transparent;}
}

input[type="text"]{
    margin-top: 10px;
    margin-bottom: 20px;
    appearance: none;
    box-sizing: border-box;
    border: 1px solid black;
    background: transparent;
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 5px;
    ::-webkit-datetime-edit-text { padding: 0 2rem; }
    ::-webkit-datetime-edit-month-field { text-transform: uppercase; }
    ::-webkit-datetime-edit-day-field { text-transform: uppercase; }
    ::-webkit-datetime-edit-year-field { text-transform: uppercase; }
    ::-webkit-inner-spin-button { display: none; }
    ::-webkit-calendar-picker-indicator { background: transparent;}
}

.input-error {
    outline: 1px solid red;
}